---
name: Functional Tests

on:
  push:
    branches:
      - 'main'
  pull_request:

jobs:
  functional_tests:
    name: Setup graudit
    timeout-minutes: 5
    strategy:
      fail-fast: false
      matrix:
        os: ['ubuntu', 'windows', 'macos']
        version: ['3.4', '3.3', '3.2', '3.1', '3.0']
    runs-on: ${{ matrix.os }}-latest
    steps:
      - uses: actions/checkout@v3
      - uses: ./
        with:
          version: ${{ matrix.version }}
      - name: Print version
        run: graudit -v
        shell: sh
